h1{
  font-family: 'Inconsolata', monospace;
}
body{
  background:url("../images/prism.png");
  font-family: 'Inconsolata', monospace;
  font-size: 25px;
}
.btn{
  background-color:grey;
  font-size:20px;
}










